:root {
    /*Font text*/
    --main-font:'roboto',sans-serif;
    /*Color text*/
    --main-color-text: #212121;
    --accent-color-text: #2196F3;
    --second-color-text: #757575;
    --three-color-text: #FFFFFF;
    /*Bg color*/
    --first-bg: #2F303A;
    --second-bg:#F5F4FA;
    --three-bg: rgba(255, 255, 255, 0.1);
    --four-bg: rgba(47, 48, 58, 0.8);
    --five-bg: rgba(33, 150, 243, 0.9);
    --six-bg: #0b7ad1;
    /*border color*/
    --first-bord: #EEEEEE;
    /*icon color*/
    --first-color-icon: #AFB1B8;
    /*modal window*/
    --modal-window-bg: rgba(0, 0, 0, 0.2);
}