.clients {
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq(tablet) {

    padding-top: 60px;
    padding-bottom: 60px;
    }

    @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
    }


    &__title {

        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        
        color: var(--main-color-text);
        
        margin-bottom: 30px;

        @include mq(tablet){
        font-size: 28px;
        line-height: 1.18; 

        margin-bottom: 30px;
        }

        @include mq(desktop) {
        font-size: 36px;
        line-height: 1.17; 

        margin-bottom: 50px;
        }
        }
        
    &__list {
            display: flex;
            flex-wrap: wrap;
           justify-content: center;
          align-items: center;
          margin-bottom: -30px;
          margin-right: -30px;

          width: 100%;
        }
        
        
    &__icon {
            
            padding-top: 16px;
            padding-bottom: 16px;
            flex-basis: calc(100% / 2 - 15px);
            margin-right: 30px;
            margin-bottom: 30px;

            
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: var(--first-color-icon);
            color: var(--first-color-icon);
            border: 1px solid var(--first-color-icon);
        
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:nth-child(2n) {
                margin-right: 0;
            }
            

            
            @include mq(tablet) {
            flex-basis: calc(100% / 3 - 30px);

            &:nth-child(2n) {
                margin-right: 30px;
            }


            &:nth-child(3n) {
                margin-right: 0;
            }

            }

            @include mq(desktop) {
            flex-basis: calc(100% / 6 - 30px);

            &:nth-child(3n) {
                margin-right: 30px;
            }

            &:nth-child(6n) {
                margin-right: 0;
            }
            }


        }
    &__icon:hover,
    &__icon:focus {
            border: 1px solid var(--accent-color-text);
            fill: var(--accent-color-text);
        }

    &__link {
        fill: var(--first-color-icon);
        }
    &__link:hover,
    &__link:focus {
        
        fill: var(--accent-color-text);
        }
}

