header {
    position: relative;
}

.page-header {
    padding-top: 10px;
    padding-bottom: 10px;

    @include mq(tablet){
padding-top: 0;
padding-bottom: 0;}
}

.page-header>.logo {

    @include mq(tablet){
    margin-right: 88px;}

    @include mq(desktop) {
        margin-right: 93px;}
}

.border-nav {
    border-bottom: 1px solid #ECECEC;
}

.mobile-menu {
    z-index: 50;



@media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 99%;
    width:100%;
    left: 0;

    height: 736px;
    background-color: var(--three-color-text);
    
    box-shadow: 0px 4px  rgba(0, 0, 0, 0.04), 0px 2px  rgba(0, 0, 0, 0.08), 0px 1px rgba(0, 0, 0, 0.16);

    &.is-open {
        display: flex;
        flex-direction: column;
}
}

@include mq(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
}

}

.navigator {
    //display: flex;
    padding-left: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
   // margin-bottom: 302px;

   @include mq(tablet) {
    display: flex;
   }


    &__item {
        margin-bottom: 32px;

        @include mq(tablet){
        margin-right: 50px;
        margin-bottom: 0;

    }
        
        @include mq(desktop){
        margin-right: 50px;
        margin-bottom: 0;
        }

    }
    &__item:last-child {
        margin-bottom: 0;
        margin-right: 0;
        @include mq(tablet){
            margin-right: 84px;
        }
    }
    &__link
     {

font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
display: block;
color: var(--main-color-text);

margin-left: 40px;

        
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

@include mq(tablet){
    margin-left: 0;
    font-size: 14px;
    line-height: 1.14;

    padding-top: 32px;
    padding-bottom: 32px;
}


    }
    &__link:hover,
    &__link:focus
     {
        color: var(--accent-color-text);
    }
}




.current {

    @include mq(tablet){
   color: var(--accent-color-text);
   position: relative;

   &::after {
        content: " ";
    
       display: block;
       height: 4px;
       width: 100%;
       position: absolute;
        bottom: 0;
        border-radius: 2px;
    
        background-color: var(--accent-color-text);
    }
}
 }

.contact-header {


    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;

    @include mq(tablet){
        margin-left: auto;
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
    }
    @include mq(desktop) {
        margin-left: auto;
        display: flex;
        flex-direction: row;
    }
    



    

    &__link {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        color: var(--second-color-text);
        margin-right: 0;
        margin-left: 40px;
        margin-bottom: 32px;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:first-child {
            margin-bottom:0;  
        }

        @include mq(tablet){
        font-size: 12px;
        line-height: 1.17;
        margin-left: 0;

        margin-right: 0; 
        margin-bottom: 0;
        display: flex;
        justify-content: start;
        align-items: center;

        &:first-child {
            margin-bottom: 10px;  
        }

        }
        




    



        @include mq(desktop) {
        margin-right: 30px;
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        align-items:center;
        justify-content: center;
        margin-bottom:0;

        font-size: 14px;
        line-height: 1.14;

        &:first-child {
            margin-bottom: 0;  
        }
        }

    }

    &__link--accent-color {
        font-size: 34px;
        line-height: 1.17;
        color: var(--accent-color-text);

        @include mq(tablet){
        font-size:  12px;
        line-height: 1.17;
        color: var(--second-color-text);
        }
        @include mq(desktop) {
        font-size:  14px;   
        line-height: 1.14;
        color: var(--second-color-text);
        }

    }
    
    &__link:last-child {
        margin-right: 0;
    }
    
    &__link:hover ,
    &__link:focus {
        color: var(--accent-color-text);
    }
    
    &__icon {
        display: none;

        @include mq(tablet){
        margin-right: 10px;
        fill: currentColor;
        display: block;
    }

        @include mq(desktop){
            margin-right: 10px;
            fill: currentColor;  
            display: block; 
        }
    }
}

.head-portfolio {
    border-bottom: 1px solid var(--first-bord);}

.mobile-icon {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    margin-top: 64px;
    padding: 0;
    margin-bottom: 48px;
    margin-left: 40px;

    @include mq(tablet) {
        display: none;
    }

    @include mq(desktop) {
        display: none; 
    }
}

.mobile-icon__list {
    display: block;
    margin-right: 10px;
    padding-right: 10px;
    border-right-width: 1px;
    border-right-color: rgba(33, 33, 33, 0.2);
    border-right-style: solid;
}

.mobile-icon__list:last-child {
    margin-right: 0; 
    border-right-width: 0;
    border-right-color: 0;
    border-right-style: 0;
    padding-right: 0;
}

.mobile-icon__link {

font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: var(--accent-color-text);
text-decoration: none;
}
